body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 300px;

  /* @include media-breakpoint-up(sm) {
    width: 500px;
  } */
}

.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}

a {
  text-decoration: none;
  color: unset;
  &:active {
    outline: none;
    color: unset;
  }
  &:visited {
    color: unset;
  }
}
